
<div id="title">
  <h2 class="w3-center">Categorias</h2>
</div>
<div class="content w3-col s4" *ngFor="let category of categories">   
    <div class="item" [ngStyle]="{'background-color': category.key_color}">		
      <a href="https://www.meetup.com/es/find/outdoors-adventure/">					
        <img [src]="category.icon_img">                    
      </a>              	
    </div>
    <div class="w3-bar-item w3-button w3-hide-small w3-hide-medium">
        <h4>{{ category.audience_target }}</h4>
    </div>
  </div>
  
  
  