
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card-2">
    <a routerLink="/app-welcome" class="w3-bar-item w3-button w3-hide-small">MERLIN</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right">               
      <a class="w3-bar-item w3-button" routerLink="/app-application-list" routerLinkActive="active" class="w3-bar-item w3-hover-text-blue-grey w3-right w3-button">Catalog</a>            
  </div>
</div>


<router-outlet></router-outlet>